<div class="container" ng-controller="CalendarController">
	
	<div class="jumbotron jumbotron-default" ng-init="list();eventListeners();">
		<div class="row">
			<div class="col-md-12">
				<h3>Calendário de Eventos</h3>
			</div>
		</div>
		
		<!-- Alert for messages -->
		<div class="alert alert-dismissible" ng-show="msg" ng-class="style" >
	  		<button type="button" class="close" ng-click="clearData()">×</button>
	  		<span ng-bind="msg"></span>
		</div>
		
		<div class="row">
			<div class="col-md-6">
				<div id="events-calendar"></div>
			</div>
			
			<div class="col-md-6">
				<div class="panel panel-success">
   					<div class="panel-heading">
       					<h3 class="panel-title" id="eventsDateLabel">Selecione uma data para ver os eventos</h3>
   					</div>
   					<div class="panel-body" id="eventsText" style="min-height: 170;max-height: 170;overflow-y:scroll;">
   						
						<ul ng-repeat="calendar in calendars" ng-show="calendars">
							<li>
								<span ng-bind="calendar.content"></span>
								<i class="fa fa-trash text-danger" style="cursor: pointer" ng-click="remove(calendar)"></i>
							</li>	
						</ul>

   					</div>
				</div>
				<button type="button" class="btn btn-info btn-fab btn-raised mdi-device-add-alarm" 
					data-toggle="modal" data-target="#calendarModal" style="position: absolute; 
					right: 5%" title="Adicionar evento" ng-click="clearData()">
				</button>
			</div>
		</div>
	</div>
	
</div>

<div class="modal fade" id="calendarModal">
    <div class="modal-dialog" ng-controller="CalendarController">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Adicionar Evento</h4>
            </div>
            <div class="modal-body">
            	<!-- Alert for messages -->
				<div class="alert alert-dismissible" ng-show="modalmsg" ng-class="modalstyle" >
			  		<button type="button" class="close" ng-click="clearData()">×</button>
			  		<span ng-bind="modalmsg"></span>
				</div>
            
            	<div class="row">
            		<input class="form-control" id="date" type="date" ng-model="date" placeholder="Data do evento">
                </div>
                <div class="row">
                	<input class="form-control" id="text" type="text" ng-model="text" placeholder="Descrição do evento">
               	</div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="clearData()">Fechar</button>
                <button type="button" class="btn btn-primary" ng-click="save()">Salvar</button>
            </div>
        </div>
    </div>
</div>
