<!--html>
<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	
	<link href="../resources/css/bootstrap.min.css" rel="stylesheet">
	<link href="../resources/css/roboto.min.css" rel="stylesheet">
	<link href="../resources/css/material.min.css" rel="stylesheet">
	<link href="../resources/css/ripples.min.css" rel="stylesheet">
	<link href="../resources/fonts/font-awesome.min.css" rel="stylesheet">
      
	<title>Milo</title>
</head>
<body-->
	<div class="container">
		<div class="jumbotron jumbotron-default">
			<div class="row">
				<div class="col-md-12">
					<h3>Eventos de Plantio</h3>
				</div>
			</div>
			
			<br/>
			
			<div class="row">
				<div class="col-md-12">
					<div class="list-group">
    					<div class="list-group-item">
				        	<div class="row-content">
				            	<div class="least-content">
				            		<button class="btn btn-xs btn-danger"><i class="mdi-action-delete"></i></button>
				            	</div>
				            	<h4 class="list-group-item-text">Dia 10</h4>
				            	<p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus.</p>
				        	</div>
				    	</div>

				    	<div class="list-group-separator"></div>
				    	
			    		<div class="list-group-item">
		        			<div class="row-content">
			            		<div class="least-content">
			            			<button class="btn btn-xs btn-danger"><i class="mdi-action-delete"></i></button>
			            		</div>
		            			<h4 class="list-group-item-text">Dia 10</h4>
			            		<p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
			        		</div>
			    		</div>
			    		
				    	<div class="list-group-separator"></div>
				    	
				    	<div class="list-group-item">
				        	<div class="row-content">
				           		<div class="least-content">
				           			<button class="btn btn-xs btn-danger"><i class="mdi-action-delete"></i></button>
				           		</div>
				            	<h4 class="list-group-item-text">Dia 10</h4>
				            	<p class="list-group-item-text">Maecenas sed diam eget risus varius blandit.</p>
				        	</div>
				    	</div>
					</div>
				</div>
			</div>
		</div>
		<button type="button" class="btn btn-info btn-fab btn-raised mdi-device-add-alarm" data-toggle="modal" data-target="#myModal" style="position: absolute; right: 5%" title="Adicionar evento">
		</button>
	</div-->
	
	
	<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h4 class="modal-title">Adicionar Evento</h4>
            </div>
            <div class="modal-body">
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                <button type="button" class="btn btn-primary">Salvar</button>
            </div>
        </div>
    </div>
</div>


	<!--script src="../resources/js/api/jquery.min.js"></script>
	<script src="../resources/js/api/bootstrap.min.js"></script>
	<script src="../resources/js/api/ripples.min.js"></script>
	<script src="../resources/js/api/material.min.js"></script>
	<script>
		$(document).ready(function() {
			$.material.init();
		});
	</script>

</body>
</html-->
