<div class="container" ng-controller="FarmController" ng-init="list()">
	<div class="jumbotron jumbotron-default">
		<div class="row">
			<div class="col-md-12">
				<h3>Lavouras</h3>
			</div>
		</div>
		
		<!-- Alert for messages -->
		<div class="alert alert-dismissible" ng-show="msg" ng-class="style" >
	  		<button type="button" class="close" data-dismiss="alert" ng-click="clear()">×</button>
	  		<span ng-bind="msg"></span>
		</div>
		
		<div>
			<table class="table table-hover ">
			    <thead>
			        <tr>
			            <th class="col-md-1">#</th>
			            <th class="col-md-8">Nome</th>
			            <th class="col-md-2">Área (km<sup>2</sup>)</th>
			            <th class="col-md-1">Excluir</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr ng-repeat="farm in farms">
			        	<td ng-bind="$index + 1"></td>
			            <td ng-bind="farm.name"></td>
			            <td ng-bind="farm.area"></td>
			            <td class="text-center">
			            	<span ng-click="remove(farm.id)" style="cursor:pointer;">
			            		<i class="fa fa-trash text-danger"></i>
		            		</span>
	            		</td>
			        </tr>
			    </tbody>
			</table>
		</div>
	</div>
	<a href="#/farm_new" style="position: absolute; right: 5%" title="Adicionar Propriedade" class="btn btn-info btn-fab btn-raised mdi-content-add"></a>
</div>
