<div class="container" ng-controller="AnalysisController"
	ng-init="getFarm();initializeMap();initializeGraph()">


	<!-- First Part - Tillage Data - Header -->
	<div class="jumbotron jumbotron-default">
		<h3>Análise da Lavoura</h3>

		<div class="row">
			<div class="col-md-12"><h4>Dados da Lavoura</h4></div>
		</div>

		<div class="row">
			<div class="col-md-1">Nome:</div>
			<div class="col-md-2">
				<strong><span class="text text-primary" ng-bind="analyzedFarm.name"></span></strong>
			</div>

			<div class="col-md-1">Área:</div>
			<div class="col-md-2">
				<strong><span class="text text-primary" ng-bind-html="analyzedFarm.area + ' km<sup>2</sup>'"></span></strong>
			</div>
		</div>

		<br/>

		<div class="row">
			<div class="col-md-2"><h4>Dados da Safra</h4></div>
			<div class="col-md-4">
				<select ng-model="analyzedTillage" class="form-control"
					ng-options="tillage.dateInit + ' - ' + tillage.name for tillage in analyzedFarm.tillageList">
					<option value="">-- Selecione uma safra --</option>
				</select>
			</div>
		</div>

		<div class="row">
			<div class="col-md-1">Nome:</div>
			<div class="col-md-2">
				<strong><span class="text text-primary" ng-bind="analyzedTillage.name"></span></strong>
			</div>

			<div class="col-md-2">Espaçamento:</div>
			<div class="col-md-2">
				<strong><span class="text text-primary" ng-show="analyzedTillage"
					ng-bind-html="analyzedTillage.spacing + ' cm'"></span></strong>
			</div>
		</div>
	</div>


	<!-- Tillage Graph and Table -->
	<div class="jumbotron">
		<!-- Tab Menu -->
		<ul class="nav nav-pills" role="tablist">
			<li role="presentation" class="active">
				<a data-target="#graph" aria-controls="graph" role="tab" data-toggle="tab">Gráfico</a>
			</li>
			<li role="presentation">
				<a data-target="#sample" aria-controls="sample" role="tab" data-toggle="tab">Amostragens</a>
			</li>
		</ul>

		<div class="tab-content">
			
			<!-- ****** Tillage Chart **** -->
			<div role="tabpanel" class="tab-pane active" id="graph">

				<div class="row" ng-show="analyzedTillage">
					<div class="col-md-3"><h4>Análise por Parâmetro</h4></div>
					<div class="col-md-4">
						<select class="form-control" ng-model="chartParam"
							ng-change="initializeGraph()">
							<option value="">-- Selecione um parâmetro --</option>
							<option value="disease">Doenças</option>
							<option value="weed">Ervas Daninhas</option>
							<option value="plague">Pragas</option>
							<option value="plant">Plantas por 10m</option>
							<option value="production">Produção</option>
							<option value="temp">Temperatura</option>
							<option value="rain">Precipitação</option>
						</select>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class="ct-chart" style="height: 250px; width: 100%" ng-show="chartParam"></div>
					</div>
				</div>
			</div>


			<!-- Tillage Table -->
			<div role="tabpanel" class="tab-pane" id="sample">

				<div class="row" ng-show="analyzedTillage">
					<div class="col-md-3"><h4>Mensuração da Safra</h4></div>
					<div class="col-md-4">
						<select class="form-control"
							ng-options="sample.dateSample for sample in analyzedTillage.sampleList"
							ng-model="analyzedSample">
							<option value="">-- Selecione uma Data --</option>
						</select>
					</div>
				</div>


				<div class="row" ng-show="analyzedTillage">
					<div class="col-md-2">Data de Medição:</div>
					<div class="col-md-2">
						<strong><span class="text-primary" ng-bind="analyzedSample.dateSample"></span></strong>
					</div>

					<div class="col-md-2">Responsável:</div>
					<div class="col-md-2">
						<strong><span class="text-primary" ng-bind="analyzedSample.responsible"></span></strong>
					</div>
				</div>


				<div class="row" ng-show="analyzedTillage">
					<div class="col-md-2">Temperatura - C<sup>o</sup>:</div>
					<div class="col-md-2">
						<strong><span class="text-primary" ng-bind="analyzedSample.temperature"></span></strong>
					</div>

					<div class="col-md-2">Precipitação - mm:</div>
					<div class="col-md-2">
						<strong><span class="text-primary" ng-bind="analyzedSample.rain"></span></strong>
					</div>
				</div>

				<div class="row">
					<div class="col-md-12">
						<div class=" table-responsive table-condensed">
							<table class="table table-hover">
								<thead>
									<tr>
										<th class="alert-material-teal"><span class="btn btn-primary">#</span></th>
										
										<th class="alert-material-teal">
											<a class="btn btn-sm btn-raised btn-primary" ng-click="heatMapAnalisys('disease')"> 
												<i class="fa fa-map-marker"></i><span> Doenças</span>
											</a>
										</th>
										
										<th class="alert-material-teal">
											<a class="btn btn-sm btn-raised btn-primary" ng-click="heatMapAnalisys('weed')"> 
												<i class="fa fa-map-marker"></i><span> Ervas Daninhas</span>
											</a>
										</th>
										
										<th class="alert-material-teal">
											<a class="btn btn-sm btn-raised btn-primary" ng-click="heatMapAnalisys('plague')"> <i
												class="fa fa-map-marker"></i><span> Pragas</span>
											</a>
										</th>
										
										<th class="alert-material-teal">
											<a class="btn btn-sm btn-raised btn-primary" ng-click="heatMapAnalisys('plant')"> 
												<i class="fa fa-map-marker"></i><span> Plantas/10m</span>
											</a>
										</th>
										
										<th class="alert-material-teal">
											<a class="btn btn-sm btn-raised btn-primary" ng-click="heatMapAnalisys('production')">
												<i class="fa fa-map-marker"></i><span> Produção (kg)</span>
											</a>
										</th>
									</tr>
								</thead>
								<tbody class="text-center">
									<tr ng-repeat="sampleitem in analyzedSample.sampleItemList">
										<th ng-bind="'Área ' + ($index + 1)"></th>
										
										<td>
											<i ng-class="{'fa fa-frown-o text-danger': sampleitem.disease === true, 'fa fa-smile-o text-success': sampleitem.disease === false}"></i>
											<span ng-bind="sampleitem.disease === true ? ' presente' : ' ausente'"></span>
										</td>
										
										<td>
											<i ng-class="{'fa fa-frown-o text-danger': sampleitem.weed === true, 'fa fa-smile-o text-success': sampleitem.weed === false}"></i>
											<span ng-bind="sampleitem.weed === true ? ' presente' : ' ausente'"></span>
										</td>
										
										<td ng-bind="sampleitem.plague"></td>
										
										<td ng-bind="sampleitem.plant"></td>
										
										<td ng-bind="sampleitem.production"></td>
									</tr>
									<!--tr>
										<th><strong class="text-primary">Média</strong></th>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
									</tr>
									<tr>
										<th><strong class="text-info">Meta</strong></th>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
										<td>Column content</td>
									</tr-->
								</tbody>
							</table>
						</div>

					</div>
				</div>
			</div>
		</div>
	<!--/div-->


	<!-- Map Canvas -->
	<!--div class="jumbotron"-->
		<div id="map_canvas" style="height: 400px; width: 100%"></div>
	</div>
</div>