<div class="container" ng-controller="FarmController" ng-init="initializeMap()">
	<form class="form-horizontal" ng-submit="save()">
		<fieldset>
			<div class="jumbotron jumbotron-default">
				<legend>Dados da Lavoura</legend>
				<div class="form-group">
				
					<!-- Alert for messages -->
					<div class="alert alert-dismissible" ng-show="msg" ng-class="style" >
				  		<button type="button" class="close" ng-click="clear()">×</button>
				  		<span ng-bind="msg"></span>
					</div>

           			<div class="col-md-12">
		                <input class="form-control" id="inputName" ng-model="name"
		                	   placeholder="Nome da Propriedade ou Retiro" type="text">
                	   <label for="inputName" class="control-label"><small>Cada lavoura de uma propriedade deve ser cadastrada separadamente</small></label>
		            </div>
				</div>
			</div>
			
			<div class="jumbotron jumbotron-default">
				<div class="row">
					<div class="col-md-12">
						<strong>
							Utilize a ferramenta de desenho para fazer o polígono correspondente à lavoura
						</strong>
					</div>
				</div>
				
				<br/>
				
				<div class="row">
					<div class="col-md-3">Área da lavoura</div>
					<div class="col-md-2"><strong><span class="text-primary" id="area" ng-show="area() > 0" ng-bind-html="area() + ' Km<sup>2</sup>'"></span></strong></div>
					
					<!-- div class="col-md-1"><strong>Perímetro:</strong></div>
					<div class="col-md-2"><span class="label label-primary" id="perimeter"></span></div-->
				</div>
				
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-1">
						<div id="map_canvas" style="height: 400px; width: 100%"></div>
					</div>
				</div>
				<div class="form-group">
					<div class="col-lg-10 col-lg-offset-1">
						<button class="btn btn-default" onclick="window.history.back()">Cancelar</button>
						<button type="submit" class="btn btn-primary">Salvar</button>
					</div>
				</div>
				
			</div>
		</fieldset>
	</form>
</div>
