<div class="container" ng-controller="TillageController" ng-init="list()">
	<div class="jumbotron jumbotron-default">
		<div class="row">
			<div class="col-md-12">
				<h3>Safras importadas do <strong class="text-muted">Milo <small>Mobile</small></strong></h3>
			</div>
		</div>
		
		<!-- Alert for messages -->
		<div class="alert alert-dismissible" ng-show="msg" ng-class="style" >
	  		<button type="button" class="close" data-dismiss="alert" ng-click="clear()">×</button>
	  		<span ng-bind="msg"></span>
		</div>
		
		<div>
			<table class="table table-hover ">
			    <thead>
			        <tr>
			            <th class="col-md-2">#</th>
			            <th class="col-md-5">Nome</th>
			            <th class="col-md-2">Data</th>
						<th class="col-md-2">Associar à lavoura</th>
			            <th class="col-md-1">Excluir</th>
			        </tr>
			    </thead>
			    <tbody>
			        <tr ng-repeat="tillage in tillages">
			        	<td ng-bind="$index + 1"></td>
			            <td ng-bind="tillage.name"></td>
			            <td ng-bind="tillage.dateInit"></td>
			            <td class="text-center">
		            		<span ng-click="listFarms(tillage)" data-toggle="modal" data-target="#tillageModal">
			            		<i class="fa fa-plus-square-o text-info" style="cursor:pointer;"></i>
		            		</span>
	            		</td>
			            <td class="text-center">
			            	<span ng-click="remove(tillage.id)">
			            		<i class="fa fa-trash text-danger" style="cursor:pointer;"></i>
		            		</span>
	            		</td>
			        </tr>
			    </tbody>
			</table>
		</div>
	</div>
	
	<!-- Modal -->
	<div class="modal fade" id="tillageModal" tabindex="-1" 
		role="dialog" aria-labelledby="myModalLabel">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<!-- Header -->
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal" aria-label="Close">
						<span aria-hidden="true">&times;</span>
					</button>
					<h4 class="modal-title" id="myModalLabel">Selecione a lavoura para associar</h4>
				</div>
				
				<!-- Body -->
				<div class="modal-body">
					<div class="form-group">
						<div class="row">
							<div class="col-md-12">
								<select ng-model="selectedFarm" class="form-control"
									ng-options="farm.name for farm in farms">
				      				<option value="">-- Selecione uma lavoura --</option>
				    			</select>
				    		</div>
				    	</div>
				    	
				    	<br/>
				    	
				    	<div class="row">
							<div class="col-md-2">
								<h5 ng-show="selectedFarm.name"><strong>Lavoura</strong></h5>
							</div>
							<div class="col-md-10">
								<h5>
									<span class="text-info" ng-bind="selectedFarm.name"></span>
								</h5>
							</div>
						</div>
				    	
				    	<div class="row">
							<div class="col-md-2">
								<h5 ng-show="selectedFarm.area"><strong>Área</strong></h5>
							</div>
							<div class="col-md-10">
								<h5>
									<span class="text-info" ng-show="selectedFarm.name"
									ng-bind-html="selectedFarm.area + ' km<sup>2</sup>'"></span>
								</h5>
							</div>
						</div>
				    	

			    	</div>
	      		</div>

				<!-- Footer -->
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
					<button type="button" class="btn btn-primary" ng-disabled="selectedFarm=='' || selectedFarm == null" ng-click="associateTillage()">Associar</button>
				</div>
			</div>
		</div>
	</div>
	
</div>