<!--html>
<head>
	<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
	<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
	
	<link href="../resources/css/bootstrap.min.css" rel="stylesheet">
	<link href="../resources/css/roboto.min.css" rel="stylesheet">
	<link href="../resources/css/material.min.css" rel="stylesheet">
	<link href="../resources/css/ripples.min.css" rel="stylesheet">
	<link href="../resources/fonts/font-awesome.min.css" rel="stylesheet">
    
    <script src="http://maps.google.com/maps/api/js?libraries=drawing"></script>  
      
	<title>Milo</title>
</head>

<body ng-app="miloApp"-->
	<div class="container" ng-controller="FarmController" ng-init="listWithTillage()">
		<div class="jumbotron jumbotron-default">
			<div class="row">
				<div class="col-md-12">
					<h3>Visualizar safras por lavoura</h3>
				</div>
			</div>
			
			<!-- Alert for messages -->
			<div class="alert alert-dismissible" ng-show="msg" ng-class="style" >
		  		<button type="button" class="close" data-dismiss="alert" ng-click="clear()">×</button>
		  		<span ng-bind="msg"></span>
			</div>
			
			<div>
				<table class="table table-hover ">
				    <thead>
				        <tr>
				            <th class="col-md-1">#</th>
				            <th class="col-md-6">Lavoura</th>
				            <th class="col-md-2">Área (km<sup>2</sup>)</th>
				            <th class="col-md-2">Safras</th>
				            <th class="col-md-1">Analisar</th>
				        </tr>
				    </thead>
				    <tbody>
				        <tr ng-repeat="farm in farms">
				        	<td ng-bind="$index + 1"></td>
				            <td ng-bind="farm.name"></td>
				            <td ng-bind="farm.area"></td>
				            <td ng-bind="farm.tillageList.length"></td>
				            <td class="text-center">
				            	<span ng-click="analyze(farm)" style="cursor: pointer;">
				            		<i class="fa fa-bar-chart text-primary"></i>
				            	</span>
				            </td>
				        </tr>
				    </tbody>
				</table>
			</div>
		</div>
	</div>

	<!--script src="../resources/js/api/jquery.min.js"></script>
	<script src="../resources/js/api/bootstrap.min.js"></script>
	<script src="../resources/js/api/ripples.min.js"></script>
	<script src="../resources/js/api/material.min.js"></script>
	<script src="../resources/js/api/bootbox.min.js"></script>
	
	<script src="../resources/js/api/angular.min.js"></script>
	<script src="../resources/js/api/angular-sanitize.js"></script>
	<script src="../resources/js/angular/app.js"></script>
	<script src="../resources/js/angular/analysis_service.js"></script>
	<script src="../resources/js/angular/farm_service.js"></script>
    <script src="../resources/js/angular/user_Factory.js"></script>
    <script src="../resources/js/angular/farm_controller.js"></script>

	<script>
		$(document).ready(function() {
			$.material.init();
		});
	</script>

</body>
</html-->
