<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
		<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
		
		<link href="../resources/css/bootstrap.min.css" rel="stylesheet">
		<link href="../resources/css/roboto.min.css" rel="stylesheet">
		<link href="../resources/css/material.min.css" rel="stylesheet">
		<link href="../resources/css/ripples.min.css" rel="stylesheet">
		<link href="../resources/fonts/font-awesome.min.css" rel="stylesheet">
		<link href="../resources/css/login.css" rel="stylesheet">
	      
		<title>Milo</title>
		
		<script src="../resources/js/api/angular.min.js"></script>
		<script src="login.js"></script>
		
		<style type="text/css">
			body{
				background-image: url('../resources/img/background.png');
				background-repeat: no-repeat;
				background-position: center;
				background-attachment: fixed;
				background-size: cover;
			}
		
		</style>
		
	</head>

	<body ng-app="loginApp">
		<div class="container" ng-controller="loginController">
			<form>
				<div class="form-signin">
					<h2 class="form-signin-heading">Acesso ao Milo</h2>
					
					<label for="inputUser" class="sr-only">E-mail</label>
					<input type="text" ng-model="j_username"  id="inputUser" 
						class="form-control" placeholder="Nome do usuário" required autofocus>
					
					<label for="inputPassword" class="sr-only">Senha</label>
					<input type="password" ng-model="j_password" id="inputPassword" 
						class="form-control" placeholder="Senha" required> 
				
					<button type="submit" ng-click="login()"
					class="btn btn-lg btn-primary btn-block">
						Login
					</button>
				</div>
			</form>
		</div>

		<script src="../resources/js/api/jquery.min.js"></script>
		<script src="../resources/js/api/bootstrap.min.js"></script>
		<script src="../resources/js/api/ripples.min.js"></script>
		<script src="../resources/js/api/material.min.js"></script>
		<script>
			$(document).ready(function() {
				$.material.init();
			});
		</script>


	</body>
</html>